<script>
import Rete from './components/Rete.vue'

const App = {
  name: 'App',
  inject: ["store"],
  components: {
    Rete
  },
  subscriptions () {
    return {
      showModal$: this.store.dialogState // As with the Angular 2 community, in Vue projects it is generally expected that variables that are observable subscriptions are suffixed with a dollar sign.
    }
  },
  methods: {
    openDlg() {
      this.store.dialogState.next(true)
    }
  }
}

export default App
</script>

<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png" @click="showModal$ = true" />
    <Rete />
    <div v-if="showModal$">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" @click="showModal$ = false">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" @click="showModal$ = false">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<style lang="scss">
  @import './src/scss/app.scss';
</style>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  width: 100%;
  height: 100%;
}
</style>
