<script>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
import App from './App.vue'
import Store from './store'

const Provider = {
  name: 'Provider',
  provide: {
    store: new Store()
  },
  components: {
    App
  }
}

export default Provider
</script>

<template>
  <App />
</template>

<style>